Package: com.foggy.whitensimple
Name: White-n-Simple
Version: 1.1-1
Architecture: iphoneos-arm
Description: A theme with beautiful icons!
Author: Foggy <foggyj12345@gmail.com>
Maintainer: Foggy <foggyj12345@gmail.com>
Section: Themes
Depiction: https://foggy-j.github.io/repo/files/whitensimple/
